
{% extends 'base.html' %}

{% block body%}
<div class="container-fluid py-2" id="about">
   

<div class=" bg-light py-2">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="mb-5 text-uppercase text-dark">Shree <span style="color:#a5cf4e">Book </span> Store</h1></h1>
            
        </div>
        <div class="row align-items-center">
            
            <div class="col-lg-7">
                <h3 class="mb-4">Details</h3>
                <p>Welcome to Shree Book Store, your premier destination for academic excellence in literature. As a trusted haven for knowledge seekers, we are committed to providing a wide range of academic books, resources, and educational materials tailored to meet the diverse needs of students, educators, and lifelong learners.</p>
                <div class="row mb-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Visit us Online</li>
                        <li class="list-group-item">View Our Books Collection.</li>
                        <li class="list-group-item">Buy online and get a book delivery at your home.</li>
                        <li class="list-group-item">Sell your books.</li>
                        <li class="list-group-item">Share the knowledge to make the world educated.</li>
                      </ul>
                    
                </div>
                <a href="/" class="btn btn-outline-primary">View Books</a>
            </div>
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="https://images.inc.com/uploaded_files/image/1920x1080/getty_655998316_2000149920009280219_363765.jpg" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock body %}