{% extends 'base.html' %}

{% block body %}

<div class="container mb-3 py-4">
    <h1 class="text-center" style="color:#a5cf4e">Contact Us</h1>
    <form method="post" action="/contact">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="desc">Drop your concerns here</label>
                    <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 mt-2">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock body %}
